h1{
text-align: center;
color: yellow;
font-size: 35px;

}

.form {
position: relative;
position: relative;
margin-left: auto;
margin-right: auto;
}
body{
background-color: salmon;
}
.form{
    text-align: center;
}

*{
text-align: center;
}

.card{
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    position: center;
}

/* .wrapper{
    position: center;
    position: absolute;
} */