{% extends 'base.html' %}
{% block content %}

<h1>Plant List</h1>

{% for plant in plants %}
<a href="/plants/{{ plant.id }}">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ plant.name }}</span>
      <p>ID: {{ plant.id  }}</p>
    </a>
      <p>Light: {{ plant.amount_of_light }}</p>
      <p>Water: {{ plant.amount_of_water }}</p>
      <p>Description: {{ plant.description }}</p>
      <p>Worth Buying: {{ plant.worth_buying }}</p>
      <p>Plant Added at: {{ plant.created }}</p>
    </div>
  </div>

{% endfor %}

{% endblock %}